<launch>


<node pkg="tf" type="static_transform_publisher" name="end_effector_to_tag1" args="0 0.026 -0.060 -1.57079632679 -1.57079632679 0 end_effector tag1 1000"/> 

	<!-- tf from link6 to tag
<node pkg="tf" type="static_transform_publisher" name="link6_to_tag1" args="-0.021 -0.01475 0 1.57079632679 0 -1.57079632679 link6 tag1 1000"/>-->

<node pkg="tf" type="static_transform_publisher" name="worldTB_to_robot" 
args="
0.0135 0.0135 0.023
0 0 0
worldTB 
world
1000"/>


</launch>

